/* ----------------------------------------------------------------------------------------------------------- */
/* TAGS */


/* ----------------------------------------------------------------------------------------------------------- */
/* CLASSES */

.home_search {
	width: 23rem;
	height: 1.75rem;
	border-width: 1px;
	border-style: solid;
}
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
