.home_layout_wrapper {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 3rem 1fr 1fr 1fr;
  	grid-template-areas:
    ". . ."
    ". header ."
    ". main ."
    ". info ."
}

.home_layout_logo {
	grid-area: header;
	display: grid;
	align-content: end;
	justify-content: center;
	grid-template-columns: min-content min-content min-content;
	grid-template-rows: 1fr;
}

.logo.acronymicon {
	grid-column: 1;
    align-self: end;
}

.logo.dot {
	grid-column: 2;
	margin: -0.8rem -20px;
}

.logo.net {
	grid-column: 3;
    align-self: end;
}

.home_layout_search {
	grid-area: main;
}

.home_layout_info {
	grid-area: info;
}