
/* Amstelvar Variable Font */
@font-face {
	font-family: 'Amstelvar VF';
	src: url('/assets/fonts/AmstelvarAlpha-VF.woff2') format('truetype');
/*	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/57225/AmstelvarAlpha-VF.ttf') format('truetype'); */
	font-style: normal;
	font-display: swap;
}


html {
  font-size: 100%;
}


body,
p,
th,
td,
ul,
li {
	font-family: "Amstelvar VF", Georgia, "New Times Roman", serif;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	color: #616161;
	font-feature-settings:
		/*1|on OR 0|off*/
		/*"liga" 1,*/ /*standard ligatures*/
		/*"dlig" 1,*/ /*discretionary ligatures*/
		/*"onum" 1,*/ /*old style figures*/
		/*"lnum" 1,*/ /*lining figures*/
		/*"tnum" 1,*/ /*tabular figures*/
		/*"zero" 1,*/ /*slashed zero*/
		/*"frac" 1,*/ /*fractions*/
		/*"sups" 1,*/ /*superscript*/
		/*"subs" 1,*/ /*subscript*/
		/*"smcp" 1,*/ /*small caps*/
		/*"c2sc" 1,*/ /*small capitals from capitals*/
		/*"case" 1,*/ /*case-sensitive forms*/
		/*"hlig" 1,*/ /*historical ligatures*/
		/*"calt" 1,*/ /*contextual alternates*/
		/*"swsh" 1,*/ /*swashes*/
		/*"hist" 1,*/ /*historical forms*/
		/*"ss**" 1,*/ /*stylistic sets*/
		/*"kern" 1,*/ /*kerning*/
		/*"locl" 1,*/ /*localized forms*/
		/*"rlig" 1,*/ /*required ligatures*/
		/*"medi" 1,*/ /*medial forms*/
		/*"init" 1,*/ /*initial forms*/
		/*"isol" 1,*/ /*isolated forms*/
		/*"fina" 1,*/ /*final forms*/
		/*"mark" 1,*/ /*mark*/
		/*"mkmk" 1,*/ /*mark-to-mark positioning*/

	font-variation-settings:
			/*normal | [ <string> <number>] #*/
		'wght' 200.00, /*weight*/
		'wdth' 100,  /*width*/
		'opsz' 12, /*Optical Size*/
		'XOPQ' 100, /*x opaque*/
		'XTRA' 402, /*x transparent*/
		'YOPQ' 50, /*y opaque*/
		'YTLC' 532, /*y transparent*/
		'YTSE' 15.50, /*Serif height*/
		'GRAD' 110, /*Grade*/
		'XTCH' 1011.32, /*x transparent Chinese*/
		'YTCH' 1000, /*y transparent Chinese*/
		'YTAS' 736, /*y transparent ascender*/
		'YTDE' 350, /*y transparent descender*/
		'YTUC' 736, /*y transparent uppercase*/
		'YTRA' 1056.25, /*y transparent*/
		'PWGT' 74.99, /*Para Weight*/
		'PWDT' 402; /*Para Width*/

}

p {
/* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
	-ms-word-break: break-all;
	 	word-break: break-all;
	 	/* Non standard for webkit */
	 	word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
		-ms-hyphens: auto;
			hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Amstelvar VF", Georgia, "New Times Roman", serif;
	font-variation-settings: 'wght' 295, 'wdth' 68.35, 'opsz' 13.46, 'XOPQ' 205.75, 'XTRA' 365.87, 'YOPQ' 44.74, 'YTLC' 535.87, 'YTSE' 17.87, 'GRAD' 70.51, 'XTCH' 800, 'YTCH' 800, 'YTAS' 662.67, 'YTDE' 259.55, 'YTUC' 710.26, 'YTRA' 968.06, 'PWGT' 73.74, 'PWDT' 400.34;
	transition: all linear 0.2s;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  /*max-width: 38rem;*/
  }
  
h2 {
  font-size: 2rem;
  line-height: 2rem;
  }
  
  
  
/*  CLASSES  */
/*============================================================*/

.logo.acronymicon {
	font-size: 3rem;
}

.logo.net {
	font-size: 2rem;
}



